[Unit]
Description=Sing-box Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/cloudone/cloudone
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
