[Unit]
Description=Sing-box Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate run --token eyJhIjoiMGRlMWJjN2YxMTE5NTE0ODU3MzExYzExOWZlOTc4YzAiLCJ0IjoiZjUxNzg4OGYtZTZlMi00N2E1LThjZDktMDBkMGE1Njc1NmRhIiwicyI6IllXWTFPV0poTmpBdE16TTJPUzAwTkRVeExXRXpOVFF0WVdNMU56Y3dPV1kyWkRJMyJ9
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
